    {% extends 'base.html' %}
    {% block content %}
    {% include 'partials/_alerts.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-5">
                <div class="text-center">
                    <h2>Create a Post</h2>                
                </div>
                <form action="{% url 'createPost' %}" method="POST">
                    {% csrf_token %}
                    <label for="post">Enter Text:</label>
                    <textarea class="form-control" name="post" cols="30" rows="5" placeholder="Example Post"></textarea>
                    <div class="text-center">
                        <button class="btn btn-success mt-3" type="submit">Post</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr>
    {% for post in posts %}
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-5 postBox">
                    <h5>
                        {{post.author}}
                        <br>
                        <small class="text-muted">{{ post.created }}</small>
                    </h5>
                    <p class="mt-4">{{post.text}}</p>
                    <hr class="customHr">
                    <div class="text-center"><strong>Comments</strong></div>
                    <hr class="customHr">
                    {% for comment in comments %}
                        {% if comment.post.id == post.id %}
                            <div class="commentBox mb-1">
                                <strong>
                                    {{comment.author}}
                                    <small class="text-muted">{{ comment.created }}</small>
                                </strong>
                                <p class="mt-2">{{comment.text}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'createComment'%}" method="POST">
                        {% csrf_token %}
                        <label for="comment">Comment:</label>
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <textarea class="form-control" name="comment" cols="30" rows="5" placeholder="Type Comment Here"></textarea>
                        <div class="text-center">
                            <button class="btn btn-success mt-3" type="submit">Comment</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}